@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #feafc3;
}

.page-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header-line {
  display: flex;
  position: relative;
}

.logo {
  margin-top: 23px;
}

.header-list {
  list-style: none;
  display: flex;
  margin-top: 35px;
  padding: 0;
  width: 490px;
  height: 43px;
}

.header-list-button {
  border: none;
  display: flex;
  height: 36px;
  width: 117px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  border-radius: 30px;
  padding: 7px 0 0 15px;
  margin-left: 17px;
}

.arrow-button {
  margin: 7px 0 0 10px;
  fill: #2d3440;
}

.item.delivery {
  margin: 0;
  width: 179px;
  height: 36px;
  padding: 8px 0 0 16px;
}

.item.delivery:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.item.info {
  margin: 0;
  width: 126px;
  height: 36px;
  padding: 8px 0 0 16px;
}

.item.info:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.novelties-list {
  position: absolute;
  min-height: 188px;
  width: 135px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  list-style: none;
  padding: 16px 14px 14px 16px;
  margin: 0;
  top: 79px;
  left: 167px;
  z-index: 1;
  display: none;
}

.novelties-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 0;
  width: 61px;
}

.novelties-line {
  border: 1px solid #b9b9b9;
  width: 103px;
  margin: 12px 0 10px 0;
}

.novelties-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 0 0 12px 0;
}

.novelties-last {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 0;
}

.header-list-button:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.header-list-button:active + .novelties-list {
  display: block;
}

.header-list-button:active,
.header-list-button:active .arrow-button {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.header-list-button:active .arrow-button {
  fill: #fcfcfc;
  transform: rotate(180deg);
}

.header-menu {
  margin-top: 35px;
  margin-left: 112px;
  position: relative;
  display: flex;
}

.header-tel {
  color: rgb(45, 52, 64);
  text-decoration: none;
  font-weight: 700;
  width: 180px;
  height: 36px;
  padding-top: 8px;
  padding-left: 16px;
  margin-left: 35px;
}

.header-tel:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.search-button {
  width: 32px;
  height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  border: none;
  padding: 2px 0 0 2px;
}

.search-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search-button:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
}

.search-button:active,
.search-button:active .search-picture {
  background-color: #ff4a78;
  border: none;
  fill: #fcfcfc;
}

.search-button:active + .search-string {
  display: block;
}

.search-picture {
  padding-top: 2px;
  fill: #2d3440;
}

.search-string {
  position: absolute;
  width: 356px;
  height: 96px;
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 1;
  padding: 24px 16px;
  top: 40px;
  left: -159px;
  display: none;
}

.search-input {
  height: 48px;
  width: 324px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding-left: 16px;
}

.personal-area {
  width: 88px;
  height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: none;
  margin-left: 16px;
}

.personal-area:hover {
  background: rgba(252, 252, 252, 0.5);
}

.personal-area:active + .personal-block,
.personal-area:active .personal-picture {
  display: block;
  fill: #fcfcfc;
}

.personal-area:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
}

.personal-area:active {
  background-color: #ff4a78;
  border: none;
  color: #fcfcfc;
}

.personal-picture {
  position: absolute;
  left: 279px;
  top: 7px;
  fill: #2d3440;
}

.personal-text {
  margin-left: 23px;
  font-size: 14px;
  line-height: 20px;
  padding-top: 6px;
}

.shopping-cart {
  font-family: "Inter", sans-serif;
  width: 115px;
  height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: none;
  margin-left: 16px;
  padding-top: 3px;
}

.shopping-cart:hover {
  background: rgba(252, 252, 252, 0.5);
}

.shopping-cart:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
}

.shopping-cart:active {
  background-color: #ff4a78;
  border: none;
  color: #fcfcfc;
}

.shopping-cart:active + .popup-cart,
.shopping-cart:active .cart-picture {
  display: block;
  fill: #fcfcfc;
}

.cart-picture {
  position: absolute;
  top: 7px;
  left: 383px;
  fill: #2d3440;
}

.shopping-text {
  margin-left: 24px;
  font-size: 14px;
  line-height: 20px;
}

.popup-cart {
  position: absolute;
  content: "";
  width: 441px;
  min-height: 382px;
  filter: drop-shadow(0 15px 40px rgba(45, 52, 64, 0.12));
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 1;
  top: 40px;
  left: -10px;
  display: none;
}

.cart-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  width: 102px;
  margin: 48px 0 0 48px;
}

.cart-box {
  min-height: 46px;
}

.raspberry-cart {
  position: absolute;
  left: 47px;
}

.cart-top {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin: 32px 0 0 109px;
  width: 81px;
}

.cart-under {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  margin: 3px 0 0 109px;
  width: 78px;
}

.cart-price {
  font-weight: 700;
  font-size: 18px;
  color: #2d3440;
  position: absolute;
  top: 123px;
  left: 273px;
}

.cross-button {
  border: none;
  position: absolute;
  top: 124px;
  left: 373px;
  background-color: white;
}

.cart-box-second {
  min-height: 46px;
  margin-top: -8px;
}

.cart-top-second {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin: 32px 0 0 109px;
  width: 85px;
}

.cart-under-second {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  margin: 3px 0 0 109px;
  width: 92px;
}

.cart-price-second {
  font-weight: 700;
  font-size: 18px;
  color: #2d3440;
  position: absolute;
  top: 193px;
  left: 273px;
}

.cross-button-second {
  border: none;
  position: absolute;
  top: 193px;
  left: 373px;
  background-color: white;
}

.cart-line {
  display: flex;
}

.checkout-cart {
  background-color: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  border-radius: 26px;
  width: 205px;
  min-height: 50px;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  font-family: "Inter", sans-serif;
  margin: 60px 0 0 44px;
}

.cart-price-third {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin: 76px 0 0 28px;
}

.personal-block {
  position: absolute;
  width: 420px;
  min-height: 350px;
  filter: drop-shadow(0 15px 40px rgba(45, 52, 64, 0.12));
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 1;
  top: 40px;
  left: -120px;
  display: none;
}

.private-text {
  font-weight: 700;
  font-size: 24px;
  color: #2d3440;
  margin: 0;
  padding: 48px 0 0 48px;
  width: 248px;
}

.private-email {
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 324px;
  min-height: 48px;
  margin-top: 37px;
  margin-left: 48px;
}

.private-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  padding: 14px 0 14px 14px;
  font-family: "Inter", sans-serif;
}

.private-password {
  width: 324px;
  min-height: 48px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  margin-top: 16px;
  padding-left: 16px;
  padding-bottom: 3px;
  letter-spacing: 3px;
  margin-left: 48px;
}

.private-line {
  display: flex;
}

.private-button {
  width: 119px;
  min-height: 51px;
  background-color: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  border-radius: 26px;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  color: #fcfcfc;
  margin-top: 28px;
  margin-left: 45px;
  font-family: "Inter", sans-serif;
}

.private-list {
  list-style: none;
  margin: 31px 0 0 20px;
  padding: 0;
}

.private-line-first {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  border-bottom: 1px solid #2d3440;
  width: 113px;
}

.private-line-second {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin-top: 4px;
  border-bottom: 1px solid #2d3440;
  width: 89px;
}

.slider {
  margin-bottom: 83px;
  margin-top: 44px;
}

.slider-block {
  position: relative;
}

.slider-list {
  display: flex;
  gap: 41px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.slider-item {
  width: 100px;
  flex-shrink: 0;
  opacity: 0.4;
}

.slider-item-active {
  width: 888px;
  order: -2;
}

.slider-item-active + .slider-item {
  order: -1;
}

.slider-content {
  display: none;
  padding: 117px 0 80px 70px;
}

.slider-item-active {
  display: grid;
  grid-template-columns: 510px 348px;
  gap: 30px;
  opacity: 1;
}

.slider-item-active .slider-content {
  display: block;
}

.slider-item-active .slider-image-wrapper {
  transform: scale(1);
}

.slider-item-active .slider-image-wrapper::before {
  transform: translate(-49%, -54%) scale(1);
}

.slider-item-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-item-description {
  margin: 0 20px 20px 0;
  font-size: 18px;
  line-height: 24px;
}

.white-button {
  width: 139px;
  height: 44px;
  background-color: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  margin: 0 30px 30px 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-clip: padding-box;
}

.white-button:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.white-button:active {
  background-color: #fcfcfc;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.white-button:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.slider-item-description:last-of-type {
  margin-bottom: 48px;
}

.slider-image-wrapper {
  align-self: flex-start;
  position: relative;
  transform: scale(0.3);
  display: flex;
  justify-content: center;
}

.slider-image-wrapper::before {
  position: absolute;
  content: "";
  top: 53%;
  left: 50%;
  width: 312px;
  height: 312px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  z-index: -1;
}

.slider-image {
  display: block;
  margin: 0 auto;
  max-width: none;
}

.slider-controls {
  position: absolute;
  top: 240px;
  left: 542px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 26px;
  cursor: pointer;
}

.slider-button:hover {
  color: #2d3440;
  background-color: #fcfcfc;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.slider-button:focus-visible {
  outline: none;
  color: #2d3440;
  background: rgba(252, 252, 252, 0.3);
  border-color: #2d3440;
}

@supports not selector(:focus-visible) {
  .slider-button:focus {
    outline: none;
    color: #2d3440;
    background: rgba(252, 252, 252, 0.3);
    border-color: #2d3440;
  }
}

.slider-button-prev {
  transform: rotate(180deg);
}

.slider-footer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 15px 0 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-button {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
}

.slider-pagination-button::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 16px);
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  pointer-events: none;
}

.slider-pagination-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border-color: #fcfcfc;
}

.slider-pagination-button:active {
  background: #fcfcfc;
  border-color: transparent;
  opacity: 0.5;
}

.slider-pagination-button:focus-visible {
  outline: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #2d3440;
}

@supports not selector(:focus-visible) {
  .slider-pagination-button:focus {
    outline: none;
    background-color: rgba(252, 252, 252, 0.3);
    border-color: #2d3440;
  }
}

.socials-list {
  margin: 5px 0 0 1px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.slider-socials-list {
  max-width: 300px;
  margin: 5px -10px -10px auto;
  justify-content: flex-end;
}

.socials-item {
  margin: 0 12px 10px 5px;
}

.socials-link {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.socials-link::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 16px);
}

.socials-link:hover {
  background-color: #2d3440;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.5);
}

.socials-link:active {
  opacity: 0.5;
}

.socials-link:focus-visible {
  outline: none;
  background-color: #2d3440;
  box-shadow: 0 0 0 2px #2d3440;
}

@supports not selector(:focus-visible) {
  .socials-link:focus {
    outline: none;
    background-color: #2d3440;
    box-shadow: 0 0 0 2px #2d3440;
  }
}

.socials-telegram {
  background-image: url("/images/telegram-gllacy.svg");
}

.socials-vk {
  background-image: url("/images/vk-gllacy.svg");
}

.socials-youtube {
  background-image: url("/images/youtube-gllacy.svg");
}

.ice-order {
  margin-bottom: 81px;
}

.main-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin: 0 0 52px 0;
}

.block-area {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.left-block {
  width: 570px;
  min-height: 268px;
  background: #ff7799;
  border-radius: 16px;
  color: #2d3440;
  position: relative;
  padding: 38px 206px 36px 36px;
}

.block-title {
  margin: 0;
  width: 290px;
  margin-bottom: 28px;
}

.block-text {
  font-size: 16px;
  line-height: 22px;
  width: 317px;
  margin: 0 0 29px 0;
}

.block-button {
  width: 176px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
}

.block-button:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.block-button:active {
  background-color: #fcfcfc;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.block-button:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.raspberry {
  position: absolute;
  top: 0;
  right: 0;
}

.right-block {
  width: 570px;
  min-height: 268px;
  background: #ff7799;
  border-radius: 16px;
  color: #2d3440;
  position: relative;
  padding: 38px 206px 36px 36px;
}

.popular-ice {
  margin-bottom: 80px;
}

.main-title-second {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin: 0 0 105px 0;
}

.block-line {
  display: flex;
  gap: 30px;
}

.more-block {
  width: 270px;
  min-height: 281px;
  background-color: #fcfcfc;
  border-radius: 8px;
  position: relative;
  padding: 133px 0 0 0;
}

.pink-ice {
  position: absolute;
  top: -50px;
  left: 50px;
}

.ice-title {
  width: 190px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin: 0 0 0 41px;
}

.ice-text {
  margin: 10px 40px 0 40px;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  text-align: center;
}

.ice-flex {
  display: flex;
}

.ice-price {
  margin: 20px 0 0 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.ice-button {
  width: 32px;
  height: 32px;
  background: #ff2f64;
  border-radius: 26px;
  border: none;
  margin: 15px 0 0 72px;
  flex-shrink: 0;
  padding-top: 4px;
}

.ice-button path {
  fill: #fcfcfc;
}

.ice-button:hover path,
.ice-button:hover {
  fill: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.ice-button:active path,
.ice-button:active {
  fill: #2d3440;
  background-color: #ffcbd8;
  border: 2px solid #ff2f64;
}

.ice-button:focus {
  border: 2px solid #2d3440;
}

.ice-sale {
  margin-bottom: 80px;
}

.wafer-fon {
  width: 1170px;
  min-height: 480px;
  background-image: url("/images/cео.svg");
  padding: 24px;
  background-size: cover;
  border-radius: 16px;
}

.wafer-block {
  width: 1122px;
  min-height: 432px;
  background-color: white;
  padding: 57px 40px 55px 40px;
}

.wafer-main {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 0 0 32px;
  width: 979px;
}

.wafer-line-top {
  display: flex;
  position: relative;
}

.ice-cream {
  position: absolute;
  top: 55px;
}

.wafer-top-left {
  padding: 56px 0 0 64px;
  margin: 0;
  line-height: 22px;
  width: 541px;
  min-height: 122px;
}

.cow {
  position: absolute;
  top: 55px;
  left: 537px;
}

.wafer-top-right {
  padding: 56px 0 0 61px;
  margin: 0;
  line-height: 22px;
  width: 498px;
  min-height: 122px;
}

.wafer-line-bottom {
  display: flex;
  position: relative;
}

.Leaf {
  position: absolute;
  top: 40px;
}

.wafer-bottom-left {
  padding: 40px 0 0 64px;
  margin: 0;
  line-height: 22px;
  width: 534px;
  min-height: 106px;
}

.thermometer {
  position: absolute;
  top: 40px;
  left: 537px;
}

.wafer-bottom-right {
  padding: 40px 0 0 88px;
  margin: 0;
  line-height: 22px;
  width: 549px;
  min-height: 106px;
}

.blog {
}

.serving-block {
  display: flex;
  gap: 30px;
}

.serving-method {
  width: 570px;
  padding: 35px 240px 67px 33px;
  background-image: url("/images/news.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.serving-top-text {
  margin: 0 0 12px 0;
  width: 230px;
}

.serving-bottom-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
  width: 300px;
}

.subscribe-background {
  background-image: url("/images/subscription.svg");
  background-repeat: no-repeat;
  padding: 6px;
  background-size: cover;
  border-radius: 16px;
}

.subscribe-block {
  width: 558px;
  min-height: 212px;
  background: #ffffff;
  border-radius: 16px;
  padding: 26px 26px 27px 26px;
}

.subscribe-text {
  color: #565c66;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 45px;
}

.subscribe-form {
  display: flex;
}

.subscribe-email {
  height: 48px;
  width: 332px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  font-family: "Inter", sans-serif;
  padding: 14px 0 14px 16px;
}

.subscribe-button {
  width: 160px;
  background-color: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  background-clip: padding-box;
  margin-left: 14px;
}

.subscribe-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 4px solid #ff2f64;
  color: #2d3440;
}

.subscribe-button:active {
  background: #feafc3;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.subscribe-button:focus {
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.home-delivery {
  margin-top: 80px;
}

.delivery-block {
  width: 1170px;
  min-height: 534px;
  background-image: url("/images/delivery.svg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  padding: 170px 0 22px 100px;
  margin: 0;
  width: 433px;
}

.delivery-text {
  margin: 0;
  color: #565c66;
  padding-left: 100px;
  line-height: 22px;
  width: 471px;
}

.delivery-background {
  width: 500px;
  min-height: 406px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form {
  position: absolute;
  top: 65px;
  left: 606px;
}

.delivery-form-text {
  margin: 0;
  color: #565c66;
  padding-left: 40px;
  padding-top: 41px;
  line-height: 22px;
}

.form-line {
  display: flex;
}

.right-form {
  font-weight: 700;
  color: #2d3440;
  padding: 32px 0 0 40px;
  margin: 0;
}

.left-form {
  font-weight: 700;
  color: #2d3440;
  margin: 0;
  padding: 32px 0 0 75px;
}

.information {
  padding: 30px 0 0 5px;
}

.input-line {
  display: flex;
}

.left-input {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 117px;
  height: 48px;
  color: #b9b9b9;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 8px 0 0 40px;
  padding-right: 2px;
}

.right-input {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 287px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px 0 14px 15px;
  margin: 8px 0 0 17px;
}

.place {
  font-weight: 700;
  color: #2d3440;
  padding: 20px 0 0 40px;
  margin: 0;
}

.information-second {
  padding: 20px 0 0 5px;
}

.input-adres {
  height: 48px;
  width: 420px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background-color: white;
  margin: 8px 0 0 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 3px 0 0 16px;
}

.form-button {
  width: 159px;
  min-height: 50px;
  background: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  background-clip: padding-box;
  margin: 29px 0 0 171px;
}

.form-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 4px solid #ff2f64;
  color: #2d3440;
}

.form-button:active {
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  background-color: #feafc3;
  color: #fcfcfc;
}

.form-button:focus {
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.office-adress {
  margin-top: 80px;
}

.feedback-block {
  background-image: url("/images/feedback.svg");
  background-size: cover;
  width: 1170px;
  border-radius: 16px;
  padding: 64px 0 64px 64px;
}

.feedback-background {
  min-height: 364px;
  width: 343px;
  border-radius: 8px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  padding: 2px 40px 0 40px;
}

.main-adress {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin: 0;
  width: 179px;
  padding-top: 40px;
}

.adress {
  font-weight: 700;
  font-size: 20px;
  color: #2d3440;
  margin: 0;
  padding-top: 12px;
}

.order-tel {
  color: #565c66;
  margin: 0;
  padding: 26px 0 12px 0;
}

.main-tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.timetable {
  margin: 0;
  color: #565c66;
  line-height: 20px;
  font-size: 14px;
}

.adress-button {
  width: 253px;
  min-height: 51px;
  background: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
}

.adress-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 4px solid #ff2f64;
  color: #2d3440;
}

.adress-button:focus {
  background: #ff2f64;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.adress-button:active {
  background-color: #feafc3;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #fcfcfc;
}

.footer-block {
  min-height: 153px;
  position: relative;
}

.social-block {
  display: flex;
  margin-top: 46px;
}

.footer-text-top {
  display: flex;
}

.heart-picture {
  position: absolute;
  top: 6px;
  left: 408px;
}

.fat-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 3px 0 0 314px;
  width: 126px;
}

.social-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 4px 0 0 23px;
  width: 119px;
}

.social-block-second {
  display: flex;
}

.social-text-second {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: -5px 0 0 431px;
  width: 112px;
}

.social-text-third {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: -5px 0 0 38px;
  width: 182px;
}

.logo-footer {
  position: absolute;
  left: 963px;
  top: 2px;
}

.html-academy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  margin: 9px 0 0 201px;
  width: 193px;
}

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-close {
  display: none;
}

.modal-feedback {
  width: 570px;
  padding: 64px 64px 66px 64px;
  min-height: 545px;
}

.modal-title {
  margin: 0 0 32px 0;
  width: 370px;
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../images/cross-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #2d3440;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.feedback-name {
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 442px;
  height: 48px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px 0 14px 16px;
}

.feedback-email {
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 442px;
  height: 48px;
  margin-bottom: 16px;
  padding: 14px 0 14px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.feedback-message {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 442px;
  height: 149px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px 0 0 16px;
}

.feedback-button {
  height: 48px;
  width: 164px;
  border-radius: 26px;
  background: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  background-clip: padding-box;
  margin: 29px 0 0 277px;
}

.feedback-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 4px solid #ff2f64;
  color: #2d3440;
}

.feedback-button:focus {
  background: #ff2f64;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.feedback-button:active {
  background-color: #feafc3;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #fcfcfc;
}
