@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 1366px;
  margin: 0 auto;
}

.page-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.background-fon {
  background-color: #feafc3;
}

header {
  margin-left: 98px;
  margin-right: 98px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.header-line {
  display: flex;
}

.logo {
  margin-top: 23px;
}

.header-list {
  list-style: none;
  display: flex;
  margin-top: 42px;
  padding: 0;
}

.header-list-button {
  background-color: #feafc3;
  border: none;
  margin-bottom: 5px;
}

.item {
  margin-left: 31px;
}

.item.delivery {
  margin-left: 32px;
}

.item.info {
  margin-left: 32px;
}

.header-menu {
  margin-top: 35px;
  margin-left: 181px;
  position: relative;
  display: flex;
}

.header-tel {
  color: #2d3440;
  text-decoration: none;
  margin-top: 6px;
  font-weight: 700;
}

.search-button {
  width: 32px;
  height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  border: none;
  margin-left: 16px;
}

.search-picture {
  padding-top: 2px;
}

.personal-area {
  width: 88px;
  height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: none;
  margin-left: 16px;
}

.personal-picture {
  position: absolute;
  left: 228px;
  top: 7px;
}

.personal-text {
  margin-left: 23px;
  font-size: 14px;
  line-height: 20px;
}

.shopping-cart {
  width: 115px;
  height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: none;
  margin-left: 16px;
}

.cart-picture {
  position: absolute;
  top: 7px;
  left: 333px;
}

.shopping-text {
  margin-left: 24px;
  font-size: 14px;
  line-height: 20px;
}

.popup-cart {
  position: absolute;
  width: 441px;
  min-height: 382px;
  filter: drop-shadow(0 15px 40px rgba(45, 52, 64, 0.12));
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 1;
  top: 74px;
  left: 728px;
  display: none;
}

.cart-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  width: 102px;
  margin: 48px 0 0 48px;
}

.cart-box {
  min-height: 46px;
}

.raspberry-cart {
  position: absolute;
  left: 47px;
}

.cart-top {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin: 32px 0 0 109px;
  width: 81px;
}

.cart-under {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  margin: 3px 0 0 109px;
  width: 78px;
}

.cart-price {
  font-weight: 700;
  font-size: 18px;
  color: #2d3440;
  position: absolute;
  top: 123px;
  left: 273px;
}

.cross-button {
  border: none;
  position: absolute;
  top: 124px;
  left: 373px;
  background-color: white;
}

.cart-box-second {
  min-height: 46px;
  margin-top: -8px;
}

.cart-top-second {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin: 32px 0 0 109px;
  width: 85px;
}

.cart-under-second {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
  margin: 3px 0 0 109px;
  width: 92px;
}

.cart-price-second {
  font-weight: 700;
  font-size: 18px;
  color: #2d3440;
  position: absolute;
  top: 193px;
  left: 273px;
}

.cross-button-second {
  border: none;
  position: absolute;
  top: 193px;
  left: 373px;
  background-color: white;
}

.cart-line {
  display: flex;
}

.checkout-cart {
  background-color: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  border-radius: 26px;
  width: 205px;
  min-height: 50px;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  font-family: "Inter";
  margin: 60px 0 0 44px;
}

.cart-price-third {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin: 76px 0 0 28px;
}

.second-header {
  margin-left: 98px;
  margin-right: 98px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.text-column {
  position: relative;
}

.fat-text {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin: 160px 0 0 70px;
}

.always-text {
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  margin: 25px 0 0 70px;
}

.white-button {
  width: 139px;
  height: 44px;
  background: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 48px 0 0 70px;
  background-clip: padding-box;
}

.white-button:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.white-button:active {
  background-color: #fcfcfc;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.white-button:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.ice-circle {
  position: absolute;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  background: rgba(252, 252, 252, 0.3);
  top: -16px;
  left: 560px;
}

.ice-first {
  position: absolute;
  top: -115px;
  left: 560px;
}

.ice-small {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ffcbd8;
  opacity: 0.2;
  border-radius: 50%;
  top: 92px;
  left: 930px;
}

.ice-second {
  position: absolute;
  top: 67px;
  left: 945px;
}

.ice-small-second {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ffcbd8;
  opacity: 0.2;
  border-radius: 50%;
  top: 92px;
  left: 1070px;
}

.ice-third {
  position: absolute;
  top: 67px;
  left: 1087px;
}

.circle-first {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: none;
  margin-top: 124px;
  background-color: #fcfcfc;
}

.circle-second {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: none;
  opacity: 0.4;
  background-color: #fcfcfc;
  margin-left: 3px;
}

.social-telegram {
  position: absolute;
  top: 391px;
  left: 1064px;
}

.telegram {
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
  border-radius: 24px;
}

.social-vk {
  position: absolute;
  top: 391px;
  left: 1104px;
}

.vkontacte {
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
  border-radius: 24px;
}

.social-youtube {
  position: absolute;
  top: 391px;
  left: 1145px;
}

.youtube {
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
  border-radius: 24px;
}

main {
  font-family: "Inter";
  font-weight: 400;
}

.main-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin-top: 80px;
}

.block-area {
  display: flex;
}

.left-block {
  width: 570px;
  height: 268px;
  background: #ff7799;
  border-radius: 16px;
  margin-left: 98px;
  color: #2d3440;
  position: relative;
  margin-top: 25px;
}

.block-title {
  padding: 19px 0 0 36px;
}

.block-text {
  font-size: 16px;
  line-height: 22px;
  margin: 28px 0 0 36px;
}

.block-button {
  width: 176px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
  margin: 28px 0 0 36px;
}

.block-button:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  border-radius: 26px;
}

.block-button:active {
  background-color: #fcfcfc;
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.block-button:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.raspberry {
  position: absolute;
  top: 0;
  right: 0;
}

.right-block {
  width: 570px;
  height: 268px;
  background: #ff7799;
  border-radius: 16px;
  color: #2d3440;
  position: relative;
  margin-top: 25px;
  margin-left: 30px;
}

.main-title-second {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin-top: 84px;
  margin-bottom: 105px;
}

.block-line {
  display: flex;
  gap: 30px;
  margin-left: 98px;
}

.more-block {
  width: 270px;
  height: 281px;
  background-color: #fcfcfc;
  border-radius: 8px;
  position: relative;
}

.pink-ice {
  position: absolute;
  top: -50px;
  left: 50px;
}

.ice-title {
  margin: 133px 40px 0 40px;
  width: 190px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.ice-text {
  font-family: "Inter";
  margin: 8px 40px 0 40px;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  text-align: center;
}

.ice-flex {
  display: flex;
}

.ice-price {
  margin: 20px 0 0 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.ice-button {
  width: 32px;
  height: 32px;
  background: #ff2f64;
  border-radius: 26px;
  border: none;
  margin: 15px 0 0 72px;
}

.ice-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
  border-radius: 26px;
}

.cart-button {
  padding-top: 3px;
}

.wafer-fon {
  width: 1170px;
  height: 480px;
  margin-left: 98px;
  margin-top: 80px;
  background-image: url("/Images/Сео.svg");
  padding: 24px;
}

.wafer-block {
  width: 1122px;
  height: 432px;
  background-color: white;
}

.wafer-main {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  padding-top: 58px;
}

.wafer-line-top {
  display: flex;
  position: relative;
}

.ice-cream {
  position: absolute;
  top: 55px;
  left: 40px;
}

.wafer-top-left {
  padding: 56px 0 0 104px;
  margin: 0;
  line-height: 22px;
}

.cow {
  position: absolute;
  top: 55px;
  left: 577px;
}

.wafer-top-right {
  padding: 56px 0 0 102px;
  margin: 0;
  line-height: 22px;
}

.wafer-line-bottom {
  display: flex;
  position: relative;
}

.Leaf {
  position: absolute;
  top: 40px;
  left: 40px;
}

.wafer-bottom-left {
  padding: 40px 0 0 104px;
  margin: 0;
  line-height: 22px;
}

.thermometer {
  position: absolute;
  top: 40px;
  left: 577px;
}

.wafer-bottom-right {
  padding: 40px 0 0 108px;
  margin: 0;
  line-height: 22px;
}

.serving-block {
  display: flex;
}

.serving-method {
  width: 570px;
  margin-top: 80px;
  margin-left: 98px;
  padding: 35px 0 0 33px;
  background-image: url("/Images/Новости.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.serving-top-text {
  margin: 0 0 12px 0;
  width: 230px;
}

.serving-bottom-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
  width: 300px;
}

.subscribe-background {
  background-image: url("/Images/Подписка.svg");
  background-repeat: no-repeat;
  margin: 80px 0 0 30px;
  padding: 6px;
  background-size: cover;
  border-radius: 16px;
}

.subscribe-block {
  width: 558px;
  min-height: 212px;
  background: #ffffff;
  border-radius: 16px;
  padding: 26px 26px 0 26px;
}

.subscribe-text {
  color: #565c66;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.subscribe-form {
  display: flex;
  margin-top: 45px;
}

.subscribe-email {
  height: 48px;
  width: 332px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  font-family: "Inter", sans-serif;
  padding: 14px 0 14px 16px;
}

.subscribe-button {
  width: 160px;
  background-color: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  background-clip: padding-box;
  margin-left: 14px;
}

.delivery-block {
  width: 1170px;
  min-height: 534px;
  background-image: url("/Images/Доставка.svg");
  margin: 80px 0 0 98px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  padding: 170px 0 22px 100px;
  margin: 0;
  width: 433px;
}

.delivery-text {
  margin: 0;
  color: #565c66;
  padding-left: 100px;
  line-height: 22px;
  width: 471px;
}

.delivery-background {
  width: 500px;
  min-height: 406px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form {
  position: absolute;
  top: 65px;
  left: 606px;
}

.delivery-form-text {
  margin: 0;
  color: #565c66;
  padding-left: 40px;
  padding-top: 41px;
  line-height: 22px;
}

.form-line {
  display: flex;
}

.right-form {
  font-weight: 700;
  color: #2d3440;
  padding: 32px 0 0 40px;
  margin: 0;
}

.left-form {
  font-weight: 700;
  color: #2d3440;
  margin: 0;
  padding: 32px 0 0 75px;
}

.information {
  padding: 30px 0 0 5px;
}

.input-line {
  display: flex;
}

.left-input {
  font-family: "Inter";
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 117px;
  height: 48px;
  color: #b9b9b9;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 8px 0 0 40px;
  padding-right: 2px;
}

.right-input {
  font-family: "Inter";
  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 287px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px 0 14px 15px;
  margin: 8px 0 0 17px;
}

.place {
  font-weight: 700;
  color: #2d3440;
  padding: 20px 0 0 40px;
  margin: 0;
}

.information-second {
  padding: 20px 0 0 5px;
}

.input-adres {
  height: 48px;
  width: 420px;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background-color: white;
  margin: 8px 0 0 40px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 3px 0 0 16px;
}

.form-button {
  width: 159px;
  min-height: 50px;
  background: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  background-clip: padding-box;
  margin: 29px 0 0 171px;
}

.feedback-block {
  background-image: url("/Images/Обратная\ связь.svg");
  background-size: cover;
  width: 1170px;
  border-radius: 16px;
  margin: 80px 0 0 98px;
  padding: 64px 0 64px 64px;
}

.feedback-background {
  min-height: 364px;
  width: 343px;
  border-radius: 8px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  padding: 0 40px 0 40px;
}

.main-adress {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin: 0;
  width: 179px;
  padding-top: 40px;
}

.adress {
  font-weight: 700;
  font-size: 20px;
  color: #2d3440;
  margin: 0;
  padding-top: 12px;
}

.order-tel {
  color: #565c66;
  margin: 0;
  padding: 26px 0 12px 0;
}

.main-tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.timetable {
  margin: 0;
  color: #565c66;
  line-height: 20px;
  font-size: 14px;
}

.adress-button {
  width: 253px;
  min-height: 51px;
  background: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  font-family: "Inter";
  margin-top: 30px;
}

footer {
  margin-left: 98px;
  font-family: "Inter";
}

.footer-block {
  min-height: 153px;
  position: relative;
}

.social-block {
  display: flex;
  margin-top: 46px;
}

.telegram-footer {
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  margin-left: 2px;
}

.vk-footer {
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  margin-left: 12px;
}

.youtube-footer {
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  margin-left: 12px;
}

.footer-text-top {
  display: flex;
}

.heart-picture {
  position: absolute;
  top: 6px;
  left: 408px;
}

.fat-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  font-family: "Inter";
  margin: 2px 0 0 322px;
  width: 126px;
}

.social-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 2px 0 0 24px;
  width: 119px;
}

.social-block-second {
  display: flex;
}

.social-text-second {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: -1px 0 0 431px;
  width: 112px;
}

.social-text-third {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: -1px 0 0 39px;
  width: 182px;
}

.logo-footer {
  position: absolute;
  left: 963px;
  top: 2px;
}

.html-academy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  margin: 12px 0 0 201px;
  width: 193px;
}
